<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Abstractions" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.XA.Feature.Media" version="5.9.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.Multisite" version="5.9.0" targetFramework="net471" />
</packages>